.main {
  margin: auto;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px 0;
  text-align: center;
}

.main p {
  color: white;
  display: inline-block;
  margin: auto;
  width: 10%;
  font-size: 17px;
  text-align: center;
}
